html body {
  background:#000 url(http://1.bp.blogspot.com/-q7NYia_DjQI/U4t7_J4gwwI/AAAAAAAAMKo/nru4YxfjK6I/s1600/estrellas.png) repeat top center;
  color:white;
  margin: 0%;
}




/*MOON*/
#imgMoon{
  position: fixed;
  width:13.75rem;
  height: 13.75rem;
  filter: drop-shadow( 0 0 100px #656565);
  left: 71%;
  bottom: 81%;
}




/*CONTAINER*/
.flexContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flexContainer .flexContainer__child{
  width: 100vw;
  height: 100vh;
}

.flexContainer h1{
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 13rem;
  display: block;
  font-size: 3rem;
  background-image: linear-gradient(260deg, #7026f4, #3cff64);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}



/*CONTACTO*/
.flexContainer__contact{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.flexContainer__contact a{
  text-decoration: none;
}

#button{
  text-align: center;
  width: 10rem;
  height: 3rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-radius: .7rem;
  border: none;
  box-shadow: 0 0 1rem rgba(171, 205, 255, 0.51);
  animation-name: anim;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}

#button span{
  line-height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  background-image: linear-gradient(260deg, #f5cd2b, #b2452d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes anim {
  0%{
    transform: scale(1.05) ; 
    }
  50%{
    transform: scale(1.13);
  }
  100%{
      transform: scale(1.05);
    }
}



/*ESTRELLAS*/
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
.estrellas {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}
.estrellas{
background:transparent url(http://3.bp.blogspot.com/-FwB8aSiMBmI/U4t9MkimRrI/AAAAAAAAMK0/FAlqX8ZFyu8/s1600/twinkling.png) repeat top center;
z-index:-2;
-moz-animation:move-twink-back 100s linear infinite;
-ms-animation:move-twink-back 100s linear infinite;
-o-animation:move-twink-back 100s linear infinite;
-webkit-animation:move-twink-back 100s linear infinite;
animation:move-twink-back 100s linear infinite;
}





